#!/usr/bin/env bash

# determine true location of Bash script
exec=$(readlink -f ${0})

# determine directory of vsc-module-dependencies
exec_dir=$( cd -P "$( dirname "${exec}" )" && pwd )
base_dir="${exec_dir}/.."
script_dir="${base_dir}/lib"
module_dir="${base_dir}/lib"
venv_dir="${base_dir}/lib/venv"

export PYTHONPATH="${module_dir}:${PYTHONPATH}"

# activate the rutime virtual environment
source "${venv_dir}/bin/activate"

# ensure the user's site directory doesn't wreck havoc
export PYTHONNOUSERSITE=1

# run the actual scripts
python "${script_dir}/@python_script_name@" "$@"
